@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

input,
textarea,
select,
button {
    font: inherit;
}

a {
    color: var(--color-light-gray);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--color-light);
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:where(ul[class]) {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-light: #FFFFFF;
    --color-light-gray: #D9D9D9;
    --color-dark: #121517;

    --linear-gradient: linear-gradient(267deg, #237249 -46.81%, #35C66B 52.2%);

    --font-family: 'Montserrat', sans-serif;

    --header-line-height: 109.471%;
    --description-line-height: 163.471%;
    --button-line-height: 146.471%;

    --background-color: #121517;
    --border-radius: 82px;

    --container-width: 1270px;
    --container-padding-x: 15px;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--color-light-gray);
}

h1, h2 {
    font-weight: 800;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-block: 0;
    padding-inline: var(--container-padding-x);
}

/* GLOBALLY USED STYLES */
.text-gradient {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: clamp(48px, 5.29vw, 80px);
    line-height: var(--header-line-height);
    letter-spacing: -0.03em;
    color: var(--color-light);
}

.description {
    font-size: clamp(12px, 1.33vw, 20px);
    line-height: var(--description-line-height);
    letter-spacing: -0.03em;
}

.button {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: var(--button-line-height);
    padding-block: 20px;
    padding-inline: 54px;
    background: var(--linear-gradient);
    background-position: 100% 0;
    background-size: 300% 100%;
    border-radius: var(--border-radius);
    text-align: center;
    transition: all .3s ease;
}

.button:hover {
    background-position: 0 0;
    background-color: var(--color-light);
    transform: translateY(-0.25em);
}

.button.button--transparent {
    background: transparent;
    border: 1px solid #DADADA;
}

.button.button--white-text {
    color: var(--color-light);
}

.button.button--wide {
    padding-inline: 79px;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

/* HEADER SECTION */
.header__wrapper {
    display: flex;
    align-items: center;
    column-gap: 95px;
    padding-top: 45px;
    padding-bottom: 65px;
}

.logo {
    font-size: clamp(22px, 2.48vw, 37px);
    font-weight: 800;
}

.header__menu {
    display: flex;
    align-items: center;
    column-gap: 95px;
}

/* HERO SECTION */
.hero {
    margin-bottom: 100px;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 155px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*column-gap: 10.25vw;*/
}

.hero__content {
    max-width: 574px;
}

.hero__content-title {
    margin-bottom: 54px;
    position: relative;
}

.hero__content-title::before {
    content: '';
    position: absolute;
    width: 324px;
    height: 324px;
    border-radius: 324px;
    background: linear-gradient(267deg, rgba(35, 114, 73, 0.11) 3.05%, rgba(53, 198, 107, 0.15) 40.73%);
    filter: blur(88px);
}

.hero__content-text {
    margin-bottom: 54px;
}

.hero__content-buttons {
    margin-bottom: 54px;
    display: flex;
    column-gap: 16px;
}

.hero__content-statistics-list {
    display: flex;
    padding: 0;
    column-gap: 46px;
}

.hero__content-statistics-item {
    max-width: 126px;
}

.hero__content-statistics-score {
    font-size: 3.875rem;
    color: var(--color-light);
    line-height: var(--header-line-height);
    letter-spacing: -0.116rem;
}

.hero__image-wrapper {
    position: relative;
    padding-right: 60px;
}

.hero__image-wrapper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 70%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 324px;
    height: 324px;
    border-radius: 100%;
    background: linear-gradient(267deg, rgba(35, 114, 73, 0.55) 3.05%, rgba(53, 198, 107, 0.73) 40.73%);
    filter: blur(88px);
}

.hero__image-wrapper::after {
    content: '';
    position: absolute;
    z-index: -2;
    background: url('./icons/lines.svg') center/contain no-repeat;
    width: 860px;
    height: 620px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__image-wrapper img {
    width: 100%;
    max-width: 468px;
    height: auto;
}

/* BENEFITS SECTION */
.benefits__wrapper {
    max-width: 1029px;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(265deg, #FFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
    border-radius: 46px;
    position: relative;
}

.benefits__wrapper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -15%;
    width: 324px;
    height: 350px;
    border-radius: 100%;
    background: linear-gradient(267deg, rgba(35, 114, 73, 0.17) 3.05%, rgba(53, 198, 107, 0.22) 40.73%);
    filter: blur(120px);
}

.benefits__wrapper::after {
    content: '';
    position: absolute;
    z-index: 5;
    background: url('./icons/star-text.svg') center/contain no-repeat;
    width: 175px;
    height: 175px;
    top: -15%;
    left: -7%;
    filter: drop-shadow(10px 5px 10px rgba(0 0 0 / 30%))
}

.benefits__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 78px;
    padding-top: 54px;
    padding-bottom: 26px;
    column-gap: 128px;
}

.benefits__content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 220px;
}

.benefits__content-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 200px;
    padding-bottom: 20px;
}

.benefits__content-image {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    max-width: 200px;
    aspect-ratio: 1;
}

.benefits__content-item:first-child img {
    left: 5%;
}

.benefits__content-item:nth-child(2) img {
    top: 60%;
}

.benefits__content-item:last-child img {
    top: 50%;
}

.benefits__content-image-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    aspect-ratio: 1;
    background: linear-gradient(267deg, #237249 3.05%, #35C66B 75.72%);
    filter: drop-shadow(0 0.25rem 2.563rem rgba(0, 0, 0, 0.39));
    border-radius: 100%;
}

.benefits__content-title {
    font-size: 32px;
    font-weight: 500;
    /*line-height: var(--description-line-height);*/
    letter-spacing: -0.04rem;
    color: #121517;
    margin-bottom: 5px;
}

.benefits__content-description {
    font-size: 1.258rem;
    line-height: var(--description-line-height);
    letter-spacing: -0.025rem;
    color: rgba(18, 21, 23, 0.90);
}

@media (max-width: 1024px) {
    .benefits__content {
        column-gap: 50px;
    }

    /*.benefits__content-image-wrapper {*/
    /*    height: 150px;*/
    /*    width: 150px;*/
    /*    aspect-ratio: 1;*/
    /*}*/

    .benefits__content-image {
        /*width: 100%;*/
        /*max-width: 150px;*/
        /*aspect-ratio: 1;*/
        width: 100%;
        height: auto;
    }

    .benefits__content-description {
        font-size: 16px;
    }
}